
* {
	padding: 0;
	margin: 0;
    font-family: "CircularStd", Helvetica, Arial, sans-serif;
    color: white;
}

html, body{
    background-color: #222425;
}

menu{
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

.list-menu {
    display: flex;
    margin: 30px;
}

.nav{
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    color: white;
}

.nav:hover{
    color: #227059;
    font-size: 150%;
    transition: all 350ms ease-in-out;
}

/* meio*/
.middle{
    color: rgb(0, 0, 0);
    margin: 0px 50px 0px 20px;
}

.text-mid{
    color: white;
    font-size: 30px;
}

.service{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #000000;
    border-radius: 18px;
    width: 45%;
    margin: 1px;
}

.network{
    margin: 30px;
}

#img-tec {
    box-shadow: 5px 5px 5px #ffffff83;
    margin: 20px;
    border-radius: 5px;
}

.img-mid{
    display: flex;
}

.img-mid.p{
    display: block;
    margin-bottom: 10px;
}

.img-info{
    margin-top: 150px;
    padding: 100px;
    font-size: 25px;
}

.texto{
    font-size: 20px;
    margin: 30px;
    text-align: left;
    position: relative;
    border-radius: 20px;
}


h2{
    text-align: center;
    font-size: 40px;
}
